.site {
  display: flex;
  max-width: 100rem;
}

.site-content {
  padding-left: 22em;
}
.site-wrapper img {
  position: relative;
  max-width: 100%;
  margin: 2em 0;
}

.site-wrapper {
  max-width: 51em;
  padding: 2em 3em;
  margin: 0 auto;
}
.site-wrapper h1,
.site-wrapper h2,
.site-wrapper h3,
.site-wrapper h4,
.site-wrapper h5,
.site-wrapper h6,
.site-wrapper ul,
.site-wrapper ol,
.site-wrapper p {
  max-width: 80%;
  margin: 0 auto;
}
.site-wrapper p {
  letter-spacing: 0.05em;
}
